.nav-padd10 {
    margin: 5px;

}

.search_msg {
    position:fixed;
    background-color:#555;
    width:100%;
    padding-top:4px;
    padding-bottom:4px;
    margin-top:15px;
    bottom: 0;
}
.s_msgi  {
    margin:0 auto;
    width:90%;
}

.bm_anpt {
    position:fixed;
    bottom:0;
    margin-top:10px;
}

nav.toptao {
    border-bottom: 0.228em solid #ab95ee;
}

.uk-message-box 